.task-action {
    cursor: pointer;
}

.task-completed {
    color: gray;
    text-decoration: line-through;
}

.task-pending {
    font-weight: bold;
    color: toma;
}
.button:hover {
    background-color: #0059ff;
    font-weight: bold;
}

.container-button:hover {
    background-color: #6188d2;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 10px;
}
.btn {
    margin-top: 15px;
}


